http_interactions:
- request:
    method: get
    uri: https://api.dpird.wa.gov.au/v2/weather/stations/BI/data?startDateTime=2018-02-01T05%3A00%3A00Z&endDateTime=2018-02-02T04%3A59%3A00Z&api_key=<<<dpird_api_key>>>&select=airTemperature%2CsolarIrradiance%2Cwind%2CdateTime&offset=0&limit=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: application/json; charset=utf-8
      ratelimit-limit: '10'
      ratelimit-remaining: '9'
      ratelimit-reset: '1'
      status: HTTP/1.1 200 OK
      x-api-name: weather
      x-api-version: v2.7.0
      x-correlation-id: b6b6012e-2f72-45b9-806b-b4c127bd8f4e
      x-ratelimit-limit-hour: '4000'
      x-ratelimit-limit-second: '10'
      x-ratelimit-remaining-hour: '3977'
      x-ratelimit-remaining-second: '9'
    body:
      encoding: ''
      file: no
      string: '{"metadata":{"status":200,"links":[{"rel":"self","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/BI\/data?endDateTime=2018-02-02T04%3A59%3A00Z&limit=1000&offset=0&select=airTemperature%2CsolarIrradiance%2Cwind%2CdateTime&startDateTime=2018-02-01T05%3A00%3A00Z"}],"collection":{"count":1440,"limit":1000,"offset":0,"links":[{"rel":"first","href":null},{"rel":"previous","href":null},{"rel":"next","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/BI\/data?endDateTime=2018-02-02T04%3A59%3A00Z&limit=1000&select=airTemperature%2CsolarIrradiance%2Cwind%2CdateTime&startDateTime=2018-02-01T05%3A00%3A00Z&offset=1000"},{"rel":"last","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/BI\/data?endDateTime=2018-02-02T04%3A59%3A00Z&limit=1000&select=airTemperature%2CsolarIrradiance%2Cwind%2CdateTime&startDateTime=2018-02-01T05%3A00%3A00Z&offset=1000"}]}},"collection":[{"dateTime":"2018-02-01T05:00:00Z","airTemperature":30.2,"solarIrradiance":1086,"wind":[{"height":3,"avg":{"speed":11.84,"direction":{"compassPoint":"ESE","degrees":114.2}},"min":{"speed":8.316},"max":{"speed":18.4}},{"height":10,"avg":{"speed":16.88,"direction":{"compassPoint":"ESE","degrees":116.62}},"max":{"speed":18.83}}]},{"dateTime":"2018-02-01T05:01:00Z","airTemperature":30,"solarIrradiance":1082,"wind":[{"height":3,"avg":{"speed":8.21,"direction":{"compassPoint":"SE","degrees":136.71}},"min":{"speed":5.796},"max":{"speed":10.84}},{"height":10,"avg":{"speed":11.34,"direction":{"compassPoint":"SE","degrees":129.01}},"max":{"speed":12.42}}]},{"dateTime":"2018-02-01T05:02:00Z","airTempera[...]
[...]
