http_interactions:
- request:
    method: get
    uri: https://api.dpird.wa.gov.au/v2/weather/stations/summaries/hourly?stationCode=BI&startDateTime=2017-10-28&endDateTime=2017-11-01&interval=hourly&select=stationCode%2CstationName%2Cperiod%2Cwind&group=rtd&includeClosed=false&api_key=<<<dpird_api_key>>>&offset=0&limit=72
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: application/json; charset=utf-8
      ratelimit-limit: '10'
      ratelimit-remaining: '9'
      ratelimit-reset: '1'
      status: HTTP/1.1 200 OK
      x-api-name: weather
      x-api-version: v2.7.0
      x-correlation-id: 647f4461-222d-42b8-a57c-24c4382857e9
      x-ratelimit-limit-hour: '4000'
      x-ratelimit-limit-second: '10'
      x-ratelimit-remaining-hour: '3980'
      x-ratelimit-remaining-second: '9'
    body:
      encoding: ''
      file: no
      string: '{"metadata":{"status":200,"links":[{"rel":"self","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/hourly?endDateTime=2017-11-01&group=rtd&includeClosed=false&interval=hourly&limit=72&offset=0&select=stationCode%2CstationName%2Cperiod%2Cwind&startDateTime=2017-10-28&stationCode=BI"}],"collection":{"count":97,"limit":72,"offset":0,"links":[{"rel":"first","href":null},{"rel":"previous","href":null},{"rel":"next","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/hourly?endDateTime=2017-11-01&group=rtd&includeClosed=false&interval=hourly&limit=72&select=stationCode%2CstationName%2Cperiod%2Cwind&startDateTime=2017-10-28&stationCode=BI&offset=72"},{"rel":"last","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/hourly?endDateTime=2017-11-01&group=rtd&includeClosed=false&interval=hourly&limit=72&select=stationCode%2CstationName%2Cperiod%2Cwind&startDateTime=2017-10-28&stationCode=BI&offset=72"}]}},"collection":[{"stationCode":"BI","stationName":"Binnu","summaries":[{"period":{"from":"2017-10-27T15:00:00Z","to":"2017-10-27T16:00:00Z","year":2017,"month":10,"day":28,"hour":0,"minute":null},"wind":[{"height":3,"avg":{"speed":5.11,"direction":{"degrees":199,"compassPoint":"SSW"}},"max":{"speed":10.84,"time":"2017-10-27T15:16:00Z","direction":{"degrees":195,"compassPoint":"SSW"}}},{"height":10,"avg":{"speed":9.33,"direction":{"degrees":196,"compassPoint":"SSW"}},"max":{"speed":13.79,"time":"2017-10-27T15:03:00Z","direction":{"degrees":189,"compassPoint":"S"}}}]},{"period":{"from":"2017-10-27T16:00:00Z","to":"2017-10-27T17:00:00Z","year":2017,"month":10,"day":28,"hour":1,"minute":null},"wind":[{"height":3,"avg":{"speed":4.43,"direction":{"degrees":196,"compassPoint":"SSW"}},"max":{"speed":9.18,"time"[...]
