http_interactions:
- request:
    method: get
    uri: https://api.dpird.wa.gov.au/v2/weather/stations/summaries/yearly?stationCode=BI&startYear=2017&endYear=2023&select=stationCode%2CstationName%2Cperiod%2Cwind&group=rtd&includeClosed=false&api_key=<<<dpird_api_key>>>&offset=0&limit=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: application/json; charset=utf-8
      ratelimit-limit: '10'
      ratelimit-remaining: '9'
      ratelimit-reset: '1'
      status: HTTP/1.1 200 OK
      x-api-name: weather
      x-api-version: v2.7.0
      x-correlation-id: de26f5df-fe48-4c86-b46c-37892136c494
      x-ratelimit-limit-hour: '4000'
      x-ratelimit-limit-second: '10'
      x-ratelimit-remaining-hour: '3989'
      x-ratelimit-remaining-second: '9'
    body:
      encoding: ''
      file: no
      string: '{"metadata":{"status":200,"links":[{"rel":"self","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/yearly?endYear=2023&group=rtd&includeClosed=false&limit=1000&offset=0&select=stationCode%2CstationName%2Cperiod%2Cwind&startYear=2017&stationCode=BI"}],"collection":{"count":7,"limit":1000,"offset":0,"links":[{"rel":"first","href":null},{"rel":"previous","href":null},{"rel":"next","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/yearly?endYear=2023&group=rtd&includeClosed=false&limit=1000&select=stationCode%2CstationName%2Cperiod%2Cwind&startYear=2017&stationCode=BI&offset=0"},{"rel":"last","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/yearly?endYear=2023&group=rtd&includeClosed=false&limit=1000&select=stationCode%2CstationName%2Cperiod%2Cwind&startYear=2017&stationCode=BI&offset=0"}]}},"collection":[{"stationCode":"BI","stationName":"Binnu","summaries":[{"period":{"from":"2016-12-31T16:00:00Z","to":"2017-12-31T16:00:00Z","year":2017,"month":null,"day":null,"hour":null,"minute":null},"wind":[{"height":3,"avg":{"speed":13.51},"max":{"speed":71.24,"time":"2017-02-18T08:04:00Z","direction":{"degrees":157,"compassPoint":"SSE"}}},{"height":10,"avg":{"speed":18.38},"max":{"speed":81.9,"time":"18-FEB-17","direction":{"degrees":129,"compassPoint":"SE"}}}]},{"period":{"from":"2017-12-31T16:00:00Z","to":"2018-12-31T16:00:00Z","year":2018,"month":null,"day":null,"hour":null,"minute":null},"wind":[{"height":3,"avg":{"speed":14.92},"max":{"speed":88.85,"time":"2018-08-29T01:36:00Z","direction":{"degrees":256,"compassPoint":"WSW"}}},{"height":10,"avg":{"speed":19.38},"max":{"speed":84.49,"time":"01-AUG-18","direction":{"[...]
