http_interactions:
- request:
    method: get
    uri: https://api.dpird.wa.gov.au/v2/weather/stations/availability/?select=stationCode%2CstationName%2CavailabilityPeriod&stationCode=BD002%2CSP&startDate=2023-04-01&endDate=2023-04-30&api_key=<<<dpird_api_key>>>&offset=0&limit=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: application/json; charset=utf-8
      ratelimit-limit: '10'
      ratelimit-remaining: '9'
      ratelimit-reset: '1'
      status: HTTP/1.1 200 OK
      x-api-name: weather
      x-api-version: v2.7.0
      x-correlation-id: 5d0aa83e-f242-42fd-a846-88edc54a9be3
      x-ratelimit-limit-hour: '4000'
      x-ratelimit-limit-second: '10'
      x-ratelimit-remaining-hour: '3972'
      x-ratelimit-remaining-second: '9'
    body:
      encoding: ''
      file: no
      string: '{"metadata":{"status":200,"links":[{"rel":"self","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/availability\/?endDate=2023-04-30&limit=1000&offset=0&select=stationCode%2CstationName%2CavailabilityPeriod&startDate=2023-04-01&stationCode=BD002%2CSP"}],"collection":{"count":2,"limit":1000,"offset":0,"links":[{"rel":"first","href":null},{"rel":"previous","href":null},{"rel":"next","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/availability\/?endDate=2023-04-30&limit=1000&select=stationCode%2CstationName%2CavailabilityPeriod&startDate=2023-04-01&stationCode=BD002%2CSP&offset=0"},{"rel":"last","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/availability\/?endDate=2023-04-30&limit=1000&select=stationCode%2CstationName%2CavailabilityPeriod&startDate=2023-04-01&stationCode=BD002%2CSP&offset=0"}]}},"collection":[{"stationCode":"BD002","stationName":"Mount
        Ney","availability":{"period":{"9AM":null,"12AM":null}}},{"stationCode":"SP","stationName":"South
        Perth","availability":{"period":{"9AM":100,"12AM":100}}}]}'
  recorded_at: 2023-06-01 05:56:11 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
