http_interactions:
- request:
    method: get
    uri: https://api.dpird.wa.gov.au/v2/weather/stations/summaries/15min?stationCode=BI&startDateTime=2022-10-28&endDateTime=2022-10-30&interval=15min&select=stationCode%2CstationName%2Cperiod%2Cwind&group=rtd&includeClosed=false&api_key=<<<dpird_api_key>>>&offset=0&limit=96
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: application/json; charset=utf-8
      ratelimit-limit: '10'
      ratelimit-remaining: '9'
      ratelimit-reset: '1'
      status: HTTP/1.1 200 OK
      x-api-name: weather
      x-api-version: v2.7.0
      x-correlation-id: 8298511a-5220-4d29-9831-3c21609ec8dc
      x-ratelimit-limit-hour: '4000'
      x-ratelimit-limit-second: '10'
      x-ratelimit-remaining-hour: '3993'
      x-ratelimit-remaining-second: '9'
    body:
      encoding: ''
      file: no
      string: '{"metadata":{"status":200,"links":[{"rel":"self","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/15min?endDateTime=2022-10-30&group=rtd&includeClosed=false&interval=15min&limit=96&offset=0&select=stationCode%2CstationName%2Cperiod%2Cwind&startDateTime=2022-10-28&stationCode=BI"}],"collection":{"count":193,"limit":96,"offset":0,"links":[{"rel":"first","href":null},{"rel":"previous","href":null},{"rel":"next","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/15min?endDateTime=2022-10-30&group=rtd&includeClosed=false&interval=15min&limit=96&select=stationCode%2CstationName%2Cperiod%2Cwind&startDateTime=2022-10-28&stationCode=BI&offset=96"},{"rel":"last","href":"https:\/\/api.dpird.wa.gov.au\/v2\/weather\/stations\/summaries\/15min?endDateTime=2022-10-30&group=rtd&includeClosed=false&interval=15min&limit=96&select=stationCode%2CstationName%2Cperiod%2Cwind&startDateTime=2022-10-28&stationCode=BI&offset=192"}]}},"collection":[{"stationCode":"BI","stationName":"Binnu","summaries":[{"period":{"from":"2022-10-27T15:45:00Z","to":"2022-10-27T16:00:00Z","year":2022,"month":10,"day":28,"hour":0,"minute":0},"wind":[{"height":3,"avg":{"speed":16.86,"direction":{"degrees":189,"compassPoint":"S"}},"max":{"speed":24.3,"time":"2022-10-27T15:52:00Z","direction":{"degrees":187,"compassPoint":"S"}}},{"height":10,"avg":{"speed":24.21,"direction":{"degrees":189,"compassPoint":"S"}},"max":{"speed":30.53,"time":"2022-10-27T15:59:00Z","direction":{"degrees":187,"compassPoint":"S"}}}]},{"period":{"from":"2022-10-27T16:00:00Z","to":"2022-10-27T16:15:00Z","year":2022,"month":10,"day":28,"hour":0,"minute":15},"wind":[{"height":3,"avg":{"speed":17.62,"direction":{"degrees":189,"compassPoint":"S"}},"max":{"speed":24.3,"time":"2022[...]
